In [3]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet('./data/train-00000-of-00001.parquet')

# Display the DataFrame
print(df)

# If you want to convert it to a CSV file
df.to_csv('output.csv', index=False)

        unique_identifier     native word   english word
0                    nep1    मुस्कुराउँदै   muskuraundai
1                    nep2        मान्दछन्     mandachhan
2                    nep3           भएझैं      bhaejhain
3                    nep4          हराउँछ    haraaunchha
4                    nep5          मुन्टो          munto
...                   ...             ...            ...
2397409        nep2397410  हाईड्रोलगायतमा  hydrolgayatma
2397410        nep2397411       बेहरामलाई     beharamlai
2397411        nep2397412        उल्चिचले      ulchichle
2397412        nep2397413     प्रधानमात्र   pradhanmatra
2397413        nep2397414        सूर्तामा        surtama

[2397414 rows x 3 columns]

In [4]:
df = pd.read_csv('output.csv')

In [5]:
df.head()

  unique_identifier   native word  english word
0              nep1  मुस्कुराउँदै  muskuraundai
1              nep2      मान्दछन्    mandachhan
2              nep3         भएझैं     bhaejhain
3              nep4        हराउँछ   haraaunchha
4              nep5        मुन्टो         munto

In [8]:
len(df)

2397414

In [13]:
# Get the first 10,000 rows
df_sample = df.head(50000)

# Save the sample to a new CSV file
df_sample.to_csv('mini_50000.csv', index=False)